<div class="container">

  <h1>Menu</h1>
  <nav class="navbar navbar-expand-lg navbar-light bg-light rounded ">
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item btn btn-secondary margin10 ">
          <a class="nav-link text-light" href="/carrito">Carritos</a>
        </li>
        <li class="nav-item btn btn-secondary margin10">
          <a class="nav-link text-light" href="/productos">Productos</a>
        </li>
        
      </ul>
      
    </div>
  </nav>
  
</div>
<br>
<router-outlet></router-outlet>

